<div>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="optionForm">
        <mat-form-field fxFlex="100">
          <input matInput placeholder="Texto a Analizar" formControlName="textToAnalyze" name="textToAnalyze" tabindex="3" required />
        </mat-form-field>

        <div>
          <button mat-raised-button class="width-15-perc" color="primary"
                  (click)="onMethod3()">
            Statistics
          </button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>

</div>
