.al-center {
  align-content: center;
  text-align: center;
}

.module-title {
  align-content: center;
  text-align: center;
}

.span-title {
  font-weight: bold;
  font-size: 18px;
  color: green;
}
