<div>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="optionForm">
        <mat-form-field fxFlex="100">
          <input matInput placeholder="Texto a Validar" formControlName="textToValidate" name="textToValidate" tabindex="2" required />
        </mat-form-field>

        <div>
          <button mat-raised-button class="width-15-perc" color="primary"
                  (click)="onMethod2()">
            Texto Ordenado
          </button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>

</div>
